body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 5px;
}

.row {
  width: 100%;
  height: 10px;

  display: flex;
  flex-wrap: wrap;
  padding-top: 1px;
  padding-left: 1px;
}

.square {
  display: inline-block;
  width: 10px;
  height: 100%;
  border: 1px solid #000;
  padding: 0;

  margin-right: -1px;
  margin-bottom: -1px;
}

.fill {
  background-color: black;
  border-radius: 5px;
}

.btn {
  height: 25px;
  min-width: 70px;
  border-radius: 7px;
  margin-right: 10px;
}

.btn-start {
  background-color: green;
}

.btn-stop {
  background-color: red;
}
